.ImageContained {
  

    .title {
        padding: 40px !important;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;

        h2 {
            font-size: 24px;
            color: #121111;
            font-weight: 600;
            margin-bottom: 24px;
        }

        p {
           
            color: #121111;
         
        }
    }
}