#fullpage {

      
      #section1 {
        color: #fff;
        background: pink;
      }
      .section{
        height: 100vh;
        
      }
      
      .fp-section {
        text-align: center;
      }
}

.carouselCalendar {
    background: rgb(2,0,36);
background: -moz-linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(38,98,216,1) 100%);
background: -webkit-linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(38,98,216,1) 100%);
background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(38,98,216,1) 100%);

.carousel-caption {
    text-align: left;
    h3, p {
        color: white;
    }
}
}

.carousel {
    height: 400px;

    .carousel-inner {

        .carousel-item {
            
            .carousel-caption {
                position: unset;
                
            }
        }
    }
}